
<!DOCTYPE html>
<html>

<head> 
    <link rel="stylesheet" type="text/css" href="form_photo.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <script src="form_photo.js"></script>
    <script src="home.js"></script>
    
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p> <br/>
                <!-- <form class="login"> -->
                <form  class="login" ng-app="myApp"  ng-controller="login_ctrl" name="myForm" novalidate>
                <input type="text" name="name" ng-model="name" required placeholder="Company Name" />
                  <span style="color:red" ng-show="myForm.$submitted || myForm.name.$touched">
                  <span ng-show="myForm.name.$error.required">Company is required.</span>
                  </span>
                
                <!-- <input type="text" placeholder="Username" /> -->
                <input type="text" name="user" ng-model="user" required placeholder="Username"/>
                  <span style="color:red" ng-show="myForm.$submitted || myForm.user.$touched">
                  <span ng-show="myForm.user.$error.required">Username is required.</span>
                  </span>
                  <input type="email" name="email" ng-model="email" required placeholder="E-mail" />
                  <span style="color:red" ng-show="myForm.$submitted || myForm.email.$touched">
                  <span ng-show="myForm.email.$error.required">E-mail is required.</span>
                  </span>
                <!-- <input type="password" placeholder="Password" /> -->
                 <input type="password" name="password" ng-model="password" required placeholder="Password" />
                  <span style="color:red" ng-show="myForm.$submitted || myForm.password.$touched">
                  <span ng-show="myForm.password.$error.required">Password is required.</span>
                  </span>
                <br/> <br/> 
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" ng-click="check_credentials()"/>
                <!-- <input class="btn btn-facebook btn-sm" type="submit" value="Login via facebook"> -->
                <span id="message"></span>
                <!-- <div class="row">
                        <div class="col-md-6">
                        <a href -->
                <!-- <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div> -->
                <!-- <span>{{formInfo}}</span> -->
                </form>
            </div>
        </div>
    </div>
   <!--  <div class="posted-by">Posted By: <a href="http://www.jquery2dotnet.com">Bhaumik Patel</a></div> -->
</div>
<script>

</script>
</body>
</html> 